@media (max-width: 768px) {
    .example-element {
        height: auto;
        margin-top: 50px;

    }

    .picture {
        width: 250px;
        height: 400px;
        
    }

    
}


@media (min-width: 768px) {
    .example-element {
        height: 91vh;
    }

    
}

.title {
    
    color: white;
}
.para {
    font-weight:100;
    color: white;
}

.para2 {
    font-weight: 500;
    color: white;
}
.titles {
    color: white;
}

.przylec {
    animation: slide-in-right 0.5s forwards;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.pulse-animation {
    animation: pulse 8s infinite;
}