
h2,
h3,
.h2,
.h3 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: .5rem;
    color: #32325d;
}

h3,
.h3 {
    font-size: 1.0625rem;
}


    .table th,
    .table td {
        padding: 1rem;
        vertical-align: top;
        border-top: 1px solid #e9ecef;
    }


.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
}

.card-footer {
    padding: 1.25rem 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
}


.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    border-color: #5e72e4;
    background-color: #5e72e4;
}


.page-item .page-link{
    font-size: .875rem;
    display: flex;
    width: 36px;
    height: 36px;
    margin: 0 3px;
    
    border-radius: 50% !important;
    align-items: center;
    justify-content: center;
}

.table thead th {
    font-size: .65rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

.table td,
.table th {
    font-size: .8125rem;
    
}

.table .thead-light th {
    color: #8898aa;
    background-color: #f6f9fc;
}

.card .table {
    margin-bottom: 0;
}

    .card .table td,
    .card .table th {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }



.przylec {
    animation: slide-in-right 0.5s forwards;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}