@media (max-width: 768px) {
    .example-element {
        height: auto;
        margin-top: 50px;
    }

   
}


@media (min-width: 768px) {
    .example-element {
        height: 91vh;
    }
}

.przylec {
    animation: slide-in-right 0.5s forwards; /*forwards to znaczy, ze po skonczonej animacji bedzie w stanie koncowym*/
}

@keyframes slide-in-right { /*definiujemy animacje*/
    0% {
        transform: translateX(100%); /*stan poczaktowy animacji bo 0%. a translatex100 przesuwa obraz poza ekran*/
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}